input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}
.row {
    position: relative;
    left: 100px;
}
.recipe-edit-column {
    position: relative;
    right: 100px;
}

/* input.ingredient-item.form-control.ng-pristine.ng-valid {
  width: 280px;
  position: relative;
  right: 65px;
} */


/* input.amount-item.form-control.ng-pristine.ng-valid {
  width: 50px;
} */

.ingredients-items {
    position: relative;
    right: 100px;
    margin-bottom: 50px;
}
