.forgot-password-container {
  margin-top: 145px;
  margin-left:auto;
  margin-right: auto;

}

main.form-signin {
  position: relative;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.fp-title, .returnToLogin {
  text-shadow: #FC0 1px 0 10px;
}

#floatingInput {
  height: 40px;
}
