<div class="forgot-password-container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <h2
        style="margin-bottom: 20px; font-size: 24px;"
        class="fp-title">Forgot Password</h2>

      <form
        #fpform="ngForm"
        onload='document.fpform.email.focus()'
        class="forgot-password"
        name="fpform"
        action="#"
        >
        <p style="text-align: left;margin-bottom:20px;">Enter your email address for a password reset.</p>
        <div class="form-group">
          <label for="email">E-Mail</label>
          <input
            type="email"
            name="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
            #passwordResetEmail
            required
          />
        </div>

        <div>
          <button
          type="button"
          class="w-100 btn btn-primary"
          value="Log in"
          (click)="forgotPassword(passwordResetEmail.value)"
          >
            Reset the Password
          </button>
          <div style="margin-top: 30px;" class="redirectToLogin">
            <span>Go back to </span>&nbsp;
            <a
              class="returnToLogin"
              style="font-size:18px;"
              [routerLink]="['/auth']"
            >Login</a>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>
