<div class="forgot-password-container">
  <main style="position: relative; bottom:70px; width: 350px;" class="form-signin">
      <h2 style="margin-bottom: 20px; font-size: 24px;" class="fp-title">Forgot Password</h2>

      <form
        onload='document.fpform.email.focus()'
        class="forgot-password"
        name="fpform"
        action="#">

          <!-- <h2 style="text-align:left; position:relative; bottom: 20px;" class="h3 mb-3 fw-normal">Reset Your Password</h2> -->

          <div class="authBlock">
              <p style="text-align: left;margin-bottom:20px;">Enter your email address for a password reset.</p>

              <div style="position:relative;margin-bottom: 5px;width:350px;" class="formGroup form-floating fieldWidth">
                  <input
                    type="email"
                    name="email"
                    class="form-control"
                    id="floatingInput"
                    placeholder="name@example.com"
                    #passwordResetEmail
                    required>
                  <label for="floatingInput">Email address</label>
              </div>

              <!-- <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Your Email</mat-label>
                  <input
                    type="email"
                    name="email"
                    #passwordResetEmail
                    matInput
                    [formControl]="emailFormControl"
                    placeholder="Ex. pat@example.com"
                  >
                  <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </form> -->
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <!-- Calling ForgotPassword from AuthService Api -->
              <div class="formGroup">
                  <!-- <input type="submit" class="btn btnPrimary" value="Reset Password"
                  (click)="authService.ForgotPassword(passwordResetEmail.value)"> -->
                  <button
                    type="button"
                    class="w-100 btn btn-primary"
                    value="Log in"
                    (click)="forgotPassword(passwordResetEmail.value)">Reset Password
                  </button>
              </div>
          </div>

          <div style="margin-top: 30px;" class="redirectToLogin">
              <span>Go back to </span>
              <a
                class="returnToLogin"
                style="font-size:18px;"
                [routerLink]="['/auth']"
              > Login</a>
          </div>

      </form>
  </main>
</div>
